**/target/*
**/test-output/*
**/target
.idea

**/*.iml
**/*.ipr
**/*.iws

**/.DS_STORE
**/.directory

**/.attach*
**/*.log

**/ZKM_TrimLog.txt
**/ZKM_log.txt
**/dependency-reduced-pom.xml
**/.flattened-pom.xml

/.ideaDataSources/
/dataSources/
