**/target/*
**/test-output/*
**/target
.idea

**/*.iml
**/*.ipr
**/*.iws

**/.DS_STORE
**/.directory

**/.attach*
**/*.log

**/ZKM_TrimLog.txt
**/ZKM_log.txt
**/dependency-reduced-pom.xml
**/.flattened-pom.xml

/.ideaDataSources/
/dataSources/


### Eclipse template

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.classpath
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

**/tmp/*
