
# db
db.driver=com.mysql.jdbc.Driver
db.url=jdbc:mysql://localhost:3306/trading?autoReconnect=true&useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC&zeroDateTimeBehavior=convertToNull&useSSL=false
db.username=root
db.password=

# mail
mail.replyto=dev@univocity.com
mail.smtphost=smtp.gmail.com
mail.ssl=true
mail.port=587
mail.username=<YOU>@gmail.com
mail.password=<YOUR SMTP PASSWORD>
mail.sender=<YOU>>@gmail.com

# exchange
exchange.class=com.univocity.trader.exchange.binance.BinanceExchange
exchange.clientid="<YOUR E-MAIL>"
exchange.apikey=<YOUR BINANCE API KEY>"
exchange.secret=<YOUR BINANCE API SECRET>"

# max queries per minute
exchange.queryrate=1200

# currencies
exchange.currencies="BTC"
exchange.referenceCurrency="USDT"

# strategy
strategy.class=com.univocity.trader.strategy.example.ExampleStrategy
strategymonitor.classes=com.univocity.trader.strategy.example.ExampleStrategyMonitor
# strategymonitor.classes=com.univocity.trader.strategy.simple.ProfitabilityStrategyMonitor, com.univocity.trader.strategy.simple.TradingfeeStrategyMonitor

# simulation
simulation.start=2018-07-01 00:00
simulation.end=2019-07-01 00:00
simulation.referencecurrency=USDT

